dependencies:
  - allOf:
      - aivenator
      - nais-crds
      - monitoring

environmentKinds:
  - tenant

values:
  resources.requests.memory:
    displayName: memory_request
    description: Amount of memory requested for pod
    config:
      type: string

  resources.requests.cpu:
    displayName: cpu_request
    description: Amount of cpu requested for pod
    config:
      type: string

  log_level:
    displayName: log_level
    description: String sent to `RUST_LOG` env-var
    config:
      type: string

  config.exporter.poll_interval:
    displayName: poll_interval
    description: Client-side kafka poll interval
    config:
      type: string
  config.exporter.timestamp_sampling.enabled:
    displayName: timestamp_sampling.enabled
    description: Enable (resource intensive!!!) metrics based on timestamp calculations
    config:
      type: bool

  config.exporter.performance.kafka_timeout:
    displayName: kafka_timeout
    description: Client-side kafka timeout
    config:
      type: string
  config.exporter.performance.offset_fetch_timeout:
    displayName: offset_fetch_timeout
    description: Client-side kafka offset fetch timeout
    config:
      type: string
  config.exporter.performance.max_concurrent_groups:
    displayName: max_concurrent_groups
    description: Max concurrent groups processed per fetch
    config:
      type: int
  config.exporter.performance.max_concurrent_watermarks:
    displayName: max_concurrent_watermarks
    description: "Max concurrent watermarks (read: topics) per fetch"
    config:
      type: int
  config.clusters.group_whitelist:
    displayName: group_whitelist
    description: "Regexes for groups to include (empty list means include all)"
    config:
      type: string_array

  livenessProbe.initialDelaySeconds:
    displayName: livenessProbe_initialDelaySeconds
    description: Initial delay in seconds for liveness probe
    config:
      type: int

  livenessProbe.periodSeconds:
    displayName: livenessProbe_periodSeconds
    description: Period in seconds for liveness probe checks
    config:
      type: int

  livenessProbe.timeoutSeconds:
    displayName: livenessProbe_timeoutSeconds
    description: Timeout in seconds for liveness probe
    config:
      type: int

  livenessProbe.failureThreshold:
    displayName: livenessProbe_failureThreshold
    description: Failure threshold for liveness probe
    config:
      type: int

  readinessProbe.initialDelaySeconds:
    displayName: readinessProbe_initialDelaySeconds
    description: Initial delay in seconds for readiness probe
    config:
      type: int

  readinessProbe.periodSeconds:
    displayName: readinessProbe_periodSeconds
    description: Period in seconds for readiness probe checks
    config:
      type: int

  readinessProbe.timeoutSeconds:
    displayName: readinessProbe_timeoutSeconds
    description: Timeout in seconds for readiness probe
    config:
      type: int

  readinessProbe.failureThreshold:
    displayName: readinessProbe_failureThreshold
    description: Failure threshold for readiness probe
    config:
      type: int

  config.clusters:
    computed:
      template: |
        - name: "{{ .Env.aiven_project }}"
          bootstrap_servers: "{{ .Env.kafka_bootstrap_broker }}"
          group_whitelist: [".*"] # Allow every group
          group_blacklist: [] # Blacklist no group
          topic_whitelist: [".*"] # Allow every topic
          topic_blacklist: ["^__.*"] # Exclude internal topics like __consumer_offsets
          clusters.consumer_properties:
            security.protocol: "SSL"
            ssl.ca.location: "/var/run/secrets/nais.io/aiven-credentials/KAFKA_CA"
            ssl.certificate.location: "/var/run/secrets/nais.io/aiven-credentials/KAFKA_CERTIFICATE"
            ssl.key.location: "/var/run/secrets/nais.io/aiven-credentials/KAFKA_PRIVATE_KEY"
  customSecretVolumes:
    computed:
      template: |
        - name: aiven-secrets
          secretName: klag-exporter-credentials-{{ now | date "2006-01" }}
          mountPath: "/var/run/secrets/nais.io/aiven-credentials"
          readOnly: true
