apiVersion: aiven.nais.io/v1
kind: AivenApplication
metadata:
  name: {{ include "klag-exporter.name" . }}
  labels:
    {{- include "klag-exporter.labels" . | nindent 4 }}
spec:
  kafka:
    {{- if and .Values.config .Values.config.clusters }}
    pool: {{ (first .Values.config.clusters).name }}
    {{- end }}
    {{- if and .Values.customSecretVolumes (gt (len .Values.customSecretVolumes) 0) }}
    secretName: {{ (first .Values.customSecretVolumes).secretName }}
    {{- end }}
  protected: true
