name: Nais helm-chart pipeline

on:
  push:
    paths-ignore:
      - "**/*.md"

env:
  NAME: klag-exporter
  GOOGLE_REGISTRY: "europe-north1-docker.pkg.dev"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and push container
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v3

      - uses: DeterminateSystems/magic-nix-cache-action@c6a5746789488c8753af0d61fc6b5d79a80391f3 # was: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-flakehub: disabled

      - name: Build Containers
        id: build-containers
        shell: bash
        run: |
          nix build --out-link result-container .#docker && docker load < result-container

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: gh-klag-exporter@nais-io.iam.gserviceaccount.com
          token_format: access_token

      - name: "Handle auth failure"
        if: ${{ failure() && steps.auth.outcome == 'failure' }}
        shell: bash
        run: |
          cat <<EOF
          ::error ::Failed to authenticate to Google Cloud.
          EOF

      - name: "Login to registry"
        id: login-to-registry
        uses: docker/login-action@v3
        with:
          registry: "europe-north1-docker.pkg.dev"
          username: "oauth2accesstoken"
          password: "${{ steps.auth.outputs.access_token }}"

      - name: Push image to registry
        id: push
        shell: bash
        run: |
          docker push europe-north1-docker.pkg.dev/nais-io/nais/images/${{env.NAME}}:latest

      - name: Install nix2sbom
        uses: EricCrosson/install-github-release-binary@681cc3de7c5c5ac935b1a2a19e4e0c577c4d3027 # v2.3.4
        with:
          targets: louib/nix2sbom/nix2sbom@v2.4.5

      - name: Generate the SPDX manifest
        run: |
          nix2sbom .#  > sbom.json
          cat sbom.json

      - name: Get version number
        id: version
        run: |
          echo "version=$(nix eval .#docker.drvAttrs.imageTag | jq -r)" >> $GITHUB_OUTPUT
    outputs:
      version: "${{ steps.version.outputs.version }}"

  chart:
    name: Build and push chart
    permissions:
      contents: "read"
      id-token: "write"
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # ratchet:actions/checkout@v4
      - id: "auth"
        name: "Authenticate to Google Cloud"
        # if: github.ref == 'refs/heads/main'
        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # ratchet:google-github-actions/auth@v3.0.0
        with:
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: "gh-aivenator@nais-io.iam.gserviceaccount.com"
          token_format: "access_token"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db" # ratchet:google-github-actions/setup-gcloud@v1
      - name: "Log in to Google Artifact Registry"
        # if: github.ref == 'refs/heads/main'
        run: |-
          echo '${{ steps.auth.outputs.access_token }}' | docker login -u oauth2accesstoken --password-stdin https://${{ env.GOOGLE_REGISTRY }}
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # ratchet:azure/setup-helm@v3
        name: "Setup Helm"
        with:
          version: "3.8.0"
      - name: Set versions
        run: |-
          yq e '.image.tag = "${{ needs.build.outputs.version }}"' --inplace "./helm/${{env.name}}/values.yaml"
      - name: Build Chart
        run: |-
          helm package "./helm/klag-exporter"
      - name: Push Chart
        if: github.ref == 'refs/heads/main'
        run: |-
          for chart in *.tgz; do
            helm push "$chart" oci://${{ env.GOOGLE_REGISTRY }}/nais-io/nais/feature
          done
